.custom-shape-divider-bottom-1673203494 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1673203494 svg {
  position: relative;
  display: block;
  width: calc(142% + 1.3px);
  height: 340px;
}

.custom-shape-divider-bottom-1673203494 .shape-fill {
  fill: #7317B1F0;
}